@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Inconsolata&display=swap");

/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  color: #f4f4f4;
}

.container {
  margin: 25px auto;
  max-width: 1100px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Weather */
.App {
  position: relative;
  background: url("./img/bg-white-2.jpg") no-repeat;
  background-size: cover;
}

.weather {
  min-height: 100vh;
  padding: 25px;
}

.weather h1 {
  margin: 25px;
}

.weather .title {
  margin: 65px auto;
}

.weather input {
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.75);
  margin-bottom: 100px;
}

.weather .output {
  max-width: 1100px;
  margin: auto;
}

.weather .output-details {
  margin: 150px auto;
  padding-right: 100px;
}

.weather .output h1 {
  font-size: 125px;
}

.weather img {
  margin: 150px auto;
}

@media (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .weather .output-details {
    margin: 15px auto;
    text-align: center;
    padding: 0;
    padding-bottom: 30px;
    order: 2;
  }
  .weather img {
    margin: 10px auto;
    order: 1;
  }
}
